html {
  box-sizing: border-box;
  font: normal 100%/1.5 "", sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

/* ----- =Header ----- */

.masthead {
  background-color: #590307;
  padding: 0 2rem;
  border-top: 1.5px solid #000;
  border-bottom: 2px solid #300103;
  box-shadow: 0px 2.5px 5px #bbb;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: .25rem 0;
  text-align: right;
}

.navbar li {
  display: inline-block;
  position: relative;
}

.navbar > li > a,
.navbar label {
  color: #f1f1f1;
  text-shadow: 1.5px 1.5px 2.5px #888;
  background-color: #590307;
  padding: .25rem 1.5rem;;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  min-width: 4rem;
  border-radius: 5px;
  font-size: .75rem;
}

.navbar > li > a:hover,
.navbar label:hover {
  color: #c2c2c2;
}

.navbar > li > a .img-reg,
.navbar label .img-reg {
  display: inline-block;
  height: .9rem;
  padding-right: .75rem;
}

.navbar > li > a .img-hov,
.navbar label .img-hov {
  display: none;
  height: .9rem;
  padding-right: .75rem;
}

.navbar > li > a:hover .img-reg,
.navbar label:hover .img-reg {
  display: none;
}

.navbar > li > a:hover .img-hov,
.navbar label:hover .img-hov {
  display: inline-block;
}

.drop-down {
  display: none;
}

.nav-check:checked ~ .drop-down {
  display: block;
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 10;
}


.nav-check:checked ~ .drop-down > img {
  height: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -9px;
  right: 40px;
  z-index: 11;
}

.nav-check:checked ~ .drop-down .contact-drop {
  width: 285px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .5rem;
  margin: 0;
  position: relative;
  z-index: 9;
}

.nav-check:checked ~ .drop-down .contact-drop img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.nav-check:checked ~ .drop-down .contact-drop a {
  color: #000;
  text-decoration: none;
}

.nav-check:checked ~ .drop-down .contact-drop a h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}

.nav-check:checked ~ .drop-down .contact-drop h2 + p {
  font-size: .875rem;
  font-style: italic;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.25rem;
  margin: -0.5rem 0 .5rem;
  text-align: center;
}

.nav-check:checked ~ .drop-down .contact-drop p {
  text-align: left;
}

.nav-check:checked ~ .drop-down .contact-drop p a {
  color: #590307;
  text-decoration: none;
}

.nav-check:checked ~ .drop-down .contact-drop p a:hover {
  text-decoration: underline;
}

.nav-check2:checked ~ .drop-down {
  display: block;
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 10;
}

.nav-check2:checked ~ .drop-down > img {
  height: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -9px;
  right: 40px;
  z-index: 11;
}

.nav-check2:checked ~ .drop-down ul {
  width: 45rem;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  /*box-shadow: .1px .1px 5px #bbb;*/
  border-radius: 5px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.nav-check2:checked ~ .drop-down li {
  float: left;
  width: calc(100%/3);
  text-align: left;
  padding: .25rem;
}

.nav-check2:checked ~ .drop-down li:hover {
  background-color: #ebebeb;
}

.nav-check2:checked ~ .drop-down a {
  color: #000;
  padding: 0 .75rem;
  text-decoration: none;
  display: block;
}

.nav-check2:checked ~ .drop-down a h3 {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  margin-top: 0;
}

.nav-check2:checked ~ .drop-down li:hover a h3 {
  color: #590307;
}

.nav-check2:checked ~ .drop-down a img {
  width: 100%;
}

.nav-check,
.nav-check2 {
  /* Put the checkbox off the top of the screen */
  position: absolute;
  top: -3em;
}

/* ----- =Main ----- */

main {
  padding: 2rem;
  overflow: hidden;
}

.div-main {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  box-shadow: .1px .1px 5px #bbb;
  border-radius: 5px;
}

.width-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar a {
  text-decoration: none;
  color: #000;
}

.sidebar p {
  font-size: .875rem;
}

.left-sb {
  float: left;
  width: 20%;
  min-height: calc(100vh - 5rem);
}

.right-sb {
  float: right;
  width: 20%;
  min-height: calc(100vh - 5rem);
}

.rs {
  margin: 0 0 1rem;
  overflow: hidden;
  position: relative;
}

.rs img {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.rs h3 {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  padding: .25rem .5rem;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: #fff;
  border-left: 10px solid #590307;
}

.rs p {
  padding: .5rem;
}

.box-1 {
  min-height: calc((100vh - 5rem)/20*7);
}

.box-2 {
  min-height: calc(((100vh - 5rem)/20*13) - 1rem);
}

.main-content {
  width: 60%;
  margin: 0 auto;
  padding: 0 2rem;
}

main header {
  padding: .5rem;
  margin: 0 0 2rem;
}

h1 {
  margin: 0 0 .5rem;
  border-bottom: 1px solid #000;
  font-weight: normal;
}

h1 + p {
  font-size: .875rem;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
}

.content-box {
  padding: .5rem;
  margin: 0 0 1rem;
}

.content-box h2 {
  margin: 0 0 .5rem;
  border-bottom: 1px solid #000;
}

.content-box h2 + p {
  font-size: .875rem;
  font-weight: lighter;
  font-style: italic;
  margin: 0 0 1rem;
}

/* ----- =Footer ----- */


.mastfoot {
  background-color: #222;
  text-align: center;
  width: 100%;
}

.foot-size {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.mastfoot ul {
  list-style-type: none;
}

.mastfoot li {
  display: inline-block;
}

.mastfoot a {
  text-decoration: none;
  color: #555;
}

.mastfoot a.current-p {
  color: rgba(0, 108, 141,0.5);
}

.social img {
  width: 1rem;
  margin: 0 .75rem;
  position: relative;
  top: 0.2rem;
}

.mastfoot a:hover {
  opacity: 0.75;
}

.info li {
  border-right: 1px solid #555;
}

.info li.outer {
  border-right: none;
}

.info a {
  padding: 0 1rem;
}
